<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-rac.css">
    <title>Home</title>
</head>
<body>
  <%= render partial: 'shared/navigation' %>
  <div class='food-index-page'>
      <h1 style='color: green'>Welcome to Ratatouille</h1>
      <h3>This is what you currently have in your pantry</h3>
      <button> <%= link_to 'Add a food Item', new_food_path %> </button>
  </div>
  <div class='food-table'>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Measuring Unit</th>
          <th>Unit Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Apple</td>
          <td>grams</td>
          <td>$0.99</td>
          <td><button>Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>




